@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes scrollBg {
    0% {
        background-position: 0 0, 0 100%;
    }
    50% {
        background-position: 0 -50%, 0 50%;
    }
    100% {
        background-position: 0 -100%, 0 0;
    }
}

.scroll-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 330px;
    background-color: transparent;
    background-size: cover; /* Las imágenes se adaptarán al tamaño del contenedor sin estirarse */

}
