@keyframes scrollBg {
    0% {
        background-position: 0 0, 0 100%;
    }
    100% {
        background-position: 0 -100%, 0 0;
    }
}

.scroll-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 330px;
    background-size: cover; /* Las imágenes se adaptarán al tamaño del contenedor sin estirarse */
    animation: scrollBg 35s linear infinite;
    transition: opacity 35s; /* Cambia esto a 35s para que coincida con el cambio de imagen */
}


