@keyframes scrollBg {
    0% {
        background-position: 0 0, 0 100%;
    }
    100% {
        background-position: 0 -100%, 0 0;
    }
}


  .scroll-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 330px;
    background-color: transparent;
    background-image: url('https://andreivictor.ro/codepen/scroll-bg-animation-pinterest/bg_pasta_grid-3f880df3.jpg'),url('https://andreivictor.ro/codepen/scroll-bg-animation-pinterest/bg_pasta_grid-3f880df3.jpg');
    background-size: 100% 50%;
    animation: scrollBg 35s linear infinite;
  }
