canvas {

  display: flex;
  margin: 1em;
}
.bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: contain;
  width: 100%;

  margin: 0;
  min-height: 100vh;
}
body {

  background-image: linear-gradient(to top, #d7dde6 40%, #97a8c0 80%);
  background-size: cover;
  display: grid;
  min-height: 100vh;
  height: auto;
  place-items: stretch;
}
